.SimpleMap {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 8vh;
  padding: 1vh;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

#add-pin-button {
  background-color: white;
}

#Header-Nonlogo {
  height: 100%;
  width: 100%;
  position: relative;
}

.Header-link-box {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* vertical positioning of flex items in div */
  /*width: 100vw;*/
  width: 100%;
  bottom: 0;
}

#basic-navbar-nav {
  width: 100%;
}

.nav-link {
  word-wrap: break-word;
}

.Header-link-box > div {
  padding-left: 2%;
  font-weight: bold;
}

/* Links in header box */
.Header-link-box > div > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#User-Header-Link {
  /*word-wrap: break-word;
  width: 100%;*/
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

#Header-Display-Name-And-Button-Box {
  /*display: inline-flex;*/
}

#Header-Bar {

}

#Search-Bar {
  display: inline-flex;
}

#Search-Bar > input {
  max-width: 73%; /* small enough to allow search button on same line */
}

/* Location search box */
#floating-panel {
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}

.submit {
  background-color: #404040;
  color: white;
}

.App-intro {
  font-size: large;
}

#Logo-box {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  width: 30%;
  font-size: 7vh;
}

#Logo-box > a > div {
  position: absolute;
  color: white;
  text-decoration: none;
  width: 100%;
  bottom: 0px;
}

#Sign-In-Box {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; /* vertical positioning of flex items in div */
  width: 100%;
  top: 0;
}

.Sign-In-Box-Element {
  padding-left: 2%;
  color: white;
  text-decoration: none;
}

.Sign-In-Box-Element > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div > h3 {
  vertical-align: bottom;
}

#InfoWindowUserLink {
  color: white;
}

#MapBoxWithInfoWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1; /* set mapbox to grow to fill remaining page */
}

#InfoWindow {
  position: absolute;
  left: 0px;
  min-width: 250px;
  width: 30vw;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  overflow: scroll;
  padding: 10px;
  line-height: 2em;
}

#AddPinLyricForm {

}

#AddPinLyricTextArea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#AddPinSubmit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 90%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: relative;
  width: 100%;
  display: none;
  text-align: center;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding-right: 10px;
  color: black;
  height: 64px;
  border-style: hidden solid solid hidden;
  border-width: 1px
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.Suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 64px;
  
}

.Suggestion > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  word-wrap: break-word;
  align-items: center;
  justify-content: space-around;
}


#PinTitle {
  font-weight: bolder;
  font-size: 1.25em;
}

#PinArtist {

}

#SpotifyEmbed {
  padding: 10px;
}

#PinLyrics {
  background: #3d3d3d;
  white-space: pre-line;
  font-size: 1.5em;
  font-style: oblique;
  padding: 5px;
}

.PinDetail {

}

.CloseWindow {
  float: right;
  border: 1px solid gray;
  margin-right: -10px;
  margin-top: -10px;
}

.active {
  font-weight: bolder;
  color: yellow;
}

/* Pin css based on https://codepen.io/ptzld/pen/adqLxp */

.Pin-container {
  position: absolute;
  left: -10px;
  top: -20px;
  z-index: 10;
}

.Pin-body {
  width: 20px;
  height: 20px;
  background-color: #c50;
  border-radius: 50% 50% 0;
  transform: rotate(45deg);
  z-index: 0;
}

.Pin-body::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, .1);
  top: 25%;
  left: 25%;
  border-radius: 50%;
}

.Pin-container--selected {
  /*width: 100vw;*/
  /*height: 100vh;*/
  position: absolute;
  left: -20px;
  top: -50px;
  z-index: 10;
}

.Pin-body--selected {
  width: 40px;
  height: 40px;
  background-color: #c50;
  border-radius: 50% 50% 0;
  transform: rotate(45deg);
  z-index: 0;
}

.Pin-body--selected::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, .1);
  top: 25%;
  left: 25%;
  border-radius: 50%;
}

#Name-Prompt-Box {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 30%;
  left: 20%;
  width: auto;
  height: auto;
  color: white;
  text-align: center;
  overflow: scroll;
  padding: 5%;
  line-height: 2em;
  border-radius: 10px;
}

#Name-Prompt-Input {
  margin-top: 2%;
  margin-bottom: 2%;
}

#User-Page {
  background-color: #edebde;
  text-align: center;
}

.User-Added-Pin > a {
  color: black;
  text-decoration: none;
}
.User-Added-Pin > a:hover {
  color: gray;
}

#User-Added-Pin-Display {
  margin: auto;
  text-align: left;
  left: 20vw;
  right: 20vw;
  background-color: #c4c2b8;
  width: 50%
}

#User-Added-Pin-List-Title {
  text-align: center;
}

#User-Display-Name {
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#Display-Name {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}

#Display-Name-Update-Link {
  font-size: 0.6em;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

#Display-Name-Update-Link:hover {
  font-size: 0.6em;
  text-decoration: underline;
  color: orange;
}

#User-Added-Pin-List {
  text-align: left;
  
}

#root > div > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
    #Search-Bar {
      display: none;
    }
}

html, body {
  background-color: #edebde;
  height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
