.SimpleMap {
  height: 90vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
  float: left;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 1vh;
  color: white;
  /*text-align: left;*/

  display: flex;
  /*justify-content: space-between;*/
}

.App-title {
  font-size: 1.5em;
}

.Header-link-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* vertical positioning of flex items in div */
  width: 100vw;
}

/* Links in header box */
.Header-link-box > div > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

.Logo-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div > h3 {
  vertical-align: bottom;
  /*display: flex;
  align-items: flex-end;*/
}

#BoxWithInfoWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#InfoWindow {
  border: 5px solid gray;
  
}

#CloseInfoWindow {
  float: right;
  border: 1px solid gray;
}

.active {
  font-weight: bolder;
  color: yellow;
}

/* Pin css based on https://codepen.io/ptzld/pen/adqLxp */

.Pin-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -10px;
  top: -20px;
}

.Pin-body {
  width: 20px;
  height: 20px;
  background-color: #c50;
  border-radius: 50% 50% 0;
  transform: rotate(45deg);
}

.Pin-body::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, .1);
  top: 25%;
  left: 25%;
  border-radius: 50%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
